# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Debian build
debian/statsgod.debhelper.log
debian/statsgod.postinst.debhelper
debian/statsgod.postrm.debhelper
debian/statsgod.prerm.debhelper
debian/statsgod.substvars
debian/statsgod/*

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go
_vendor/*

*.exe
*.test

coverage.out
statsgod.coverprofile
